@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Maven+Pro:wght@400;500;600;700;800;900&display=swap");
/* MISCELANIOS */
/*VARIABLES*/
/* GLOBALS */
html {
  font-size: 62.5%; }

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background: linear-gradient(to left, #087e8b, #1c717d, #24646f, #295861, #2b4c53, #29444c, #263c44, #24343c, #202d37, #1e2632, #1c1f2c, #1b1825); }

ul {
  list-style-type: none;
  padding-left: 0; }

a {
  text-decoration: none;
  color: #F8F4E3;
  display: inline-block; }

.carousel {
  grid-area: S2;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "T";
  display: grid;
  margin-top: 15vh;
  align-items: stretch;
  justify-content: left; }

.carousel-inner {
  grid-area: T;
  align-items: center;
  justify-content: left;
  align-content: stretch; }

.carousel-indicators {
  margin-top: 10vh;
  position: inherit; }

form {
  font-family: #2B3D41;
  font-size: 2rem;
  display: flex; }

main {
  display: grid;
  min-height: 100vh;
  font-family: "Maven pro";
  color: #F8F4E3;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: .6fr .6fr .6fr;
  grid-template-areas: "S1   S1" "S2   S2" "S3   S3"; }

section :first-of-type {
  padding-top: 1vh; }

/* RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*MIXINS*/
.flex-row {
  display: flex; }

.flex-column {
  display: flex;
  flex-direction: column; }

.container {
  max-width: 1080px;
  margin: 0 auto; }

/*ANIMACIONES*/
/*PARTIALS*/
/*header*/
header {
  background-color: linear-gradient(to left, #087e8b, #1c717d, #24646f, #295861, #2b4c53, #29444c, #263c44, #24343c, #202d37, #1e2632, #1c1f2c, #1b1825); }

button {
  writing-mode: horizontal-tb !important;
  font-style: normal;
  font-variant-ligatures: common-ligatures;
  font-variant-caps: normal;
  font-variant-numeric: diagonal-fractions;
  font-variant-east-asian: full-width;
  font-weight: bold;
  font-stretch: normal;
  font-size: medium;
  font-family: "Bebas Neue";
  text-rendering: auto;
  color: -internal-light-dark(red);
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: center;
  cursor: default; }

.navbar-toggler {
  width: 70px;
  height: 50px;
  border-color: #F8F4E3;
  font-size: 1.75rem;
  line-height: 1;
  transition: box-shadow .15s ease-in-out; }

.navbar ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.navbar ul.navbar-nav li {
  font-family: "Bebas Neue"; }
  .navbar ul.navbar-nav li .nav-link {
    color: #F8F4E3 !important;
    font-size: 1.8em !important; }

footer {
  margin-top: 30vh; }

.sociales {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2rem;
  justify-content: space-around; }

.sociales__CR {
  flex-basis: 50%;
  font-family: "Maven pro";
  color: #F8F4E3;
  font-size: 1.2em; }

.sociales__icono {
  padding: 1rem;
  flex-basis: 50%;
  max-width: 100%; }

.sociales__icono:hover {
  color: #087E8B; }

/*VIEWS*/
.S1 {
  margin-top: 20vh;
  grid-area: S1;
  display: grid;
  gap: 2rem;
  align-items: center;
  padding: 0 2rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "T    IMG"; }
  .S1__parrafo {
    grid-area: T; }
  .S1 h1 {
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: bold;
    flex-basis: 50%; }
  .S1 p {
    line-height: 1.5;
    font-style: inherit;
    margin-top: 10vh;
    flex-basis: 50%;
    font-size: 1.8em; }
  .S1 nav a {
    border-style: groove;
    border-color: #F8F4E3;
    padding: 0.8em;
    color: #F8F4E3;
    font-family: "Bebas Neue";
    margin-top: 5vh;
    font-size: 2.5em; }
  .S1 nav a:hover {
    color: #087E8B;
    border-color: #087E8B; }
  .S1__picture {
    grid-area: IMG;
    flex-basis: 50%;
    min-width: 320px; }
    .S1__picture img {
      max-width: 100%; }

.S2 {
  grid-area: S2;
  display: grid;
  margin-top: 15vh;
  gap: 2rem;
  align-items: center;
  padding: 0 2rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "IMG    T"; }
  .S2__parrafo {
    grid-area: T; }
  .S2 h2 {
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: bold;
    flex-basis: 50%; }
  .S2 p {
    font-size: 1.8em;
    line-height: 1.5;
    margin-top: 10vh;
    flex-basis: 50%; }
  .S2__picture {
    grid-area: IMG;
    flex-basis: 50%;
    min-width: 320px; }
    .S2__picture img {
      max-width: 100%; }

.S3 {
  grid-area: S3;
  display: grid;
  margin-top: 15vh;
  gap: 2rem;
  align-items: center;
  padding: 0 2rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "T    IMG"; }
  .S3__parrafo {
    grid-area: T; }
  .S3 h2 {
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: bold;
    flex-basis: 50%; }
  .S3 p {
    font-size: 1.8em;
    line-height: 1.5;
    margin-top: 10vh;
    flex-basis: 50%; }
  .S3__picture {
    grid-area: IMG;
    flex-basis: 50%;
    min-width: 320px; }
    .S3__picture img {
      max-width: 100%; }

@media only screen and (max-width: 1024px) {
  .navbar-brand {
    width: 10rem; }
  .navbar .nav-item a {
    font-size: 0.8em;
    width: 7rem;
    text-align: center; }
  .S1,
  h1,
  .S1__parrafo,
  p,
  .S1__container .S1__picture,
  .S1__img1,
  .S2__container .S2__picture,
  .S2__img2,
  .S2__parrafo,
  .S3__container .S3__picture,
  .S3__img3,
  .S3__parrafo {
    font-size: 1em; } }

@media only screen and (max-width: 900px) {
  .navbar-brand {
    width: 10rem; }
  .navbar .nav-item a {
    font-size: 1.8em; }
  .S1,
  h1,
  .S1__parrafo,
  p,
  .S1__container .S1__picture,
  .S1__img1,
  .S2__container .S2__picture,
  .S2__img2,
  .S2__parrafo,
  .S3__container .S3__picture,
  .S3__img3,
  .S3__parrafo {
    font-size: 1em; } }

@media only screen and (max-width: 768px) {
  main {
    display: grid;
    min-height: 100vh;
    font-family: "Maven pro";
    color: #F8F4E3;
    grid-template-columns: 1fr;
    grid-template-rows: .1fr .1fr .1fr;
    grid-template-areas: "S1" "S2" "S3"; }
  .S1 {
    margin-top: 15vh;
    grid-area: S1;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "T" "IMG"; }
    .S1__parrafo {
      grid-area: T; }
    .S1__picture {
      grid-area: IMG; }
  .S2 {
    grid-area: S2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "T" "IMG"; }
    .S2__parrafo {
      grid-area: T; }
    .S2__picture {
      grid-area: IMG; }
  .S3 {
    grid-area: S3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "T" "IMG"; }
    .S3__parrafo {
      grid-area: T; }
    .S3__picture {
      grid-area: IMG; } }

.S4 {
  grid-area: S1;
  display: grid;
  margin-top: 20vh;
  gap: 2rem;
  align-items: center;
  padding: 0 2rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "T  img"; }
  .S4__parrafo {
    grid-area: T;
    flex-basis: 50%; }
    .S4__parrafo h2 {
      font-size: 2.5em;
      text-transform: uppercase;
      font-weight: bold;
      flex-basis: 50%; }
    .S4__parrafo p {
      font-size: 1.8em;
      line-height: 1.5;
      margin-top: 10vh; }
  .S4__picture {
    grid-area: img;
    min-width: 320px;
    flex-basis: 50%; }
    .S4__picture img {
      max-width: 100%; }

.S5 {
  grid-area: S2;
  display: grid;
  margin-top: 15vh;
  gap: 2rem;
  align-items: center;
  padding: 0 2rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "IMG    T"; }
  .S5__parrafo {
    grid-area: T; }
  .S5 h3 {
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: bold;
    flex-basis: 50%; }
  .S5 p {
    font-size: 1.8em;
    line-height: 1.5;
    margin-top: 10vh;
    flex-basis: 50%; }
  .S5__picture {
    grid-area: IMG;
    flex-basis: 50%;
    min-width: 320px; }
    .S5__picture img {
      max-width: 100%; }

.S6 {
  grid-area: S3;
  display: grid;
  margin-top: 15vh;
  gap: 2rem;
  align-items: center;
  padding: 0 2rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "T    IMG"; }
  .S6__parrafo {
    grid-area: T; }
  .S6 h3 {
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: bold;
    flex-basis: 50%; }
  .S6 p {
    font-size: 1.8em;
    line-height: 1.5;
    margin-top: 10vh;
    flex-basis: 50%; }
  .S6__picture {
    grid-area: IMG;
    flex-basis: 50%;
    min-width: 320px; }
    .S6__picture img {
      max-width: 100%; }

@media only screen and (max-width: 1024px) {
  .navbar-brand {
    width: 10rem; }
  .navbar .nav-item a {
    font-size: 0.8em;
    width: 7rem;
    text-align: center; }
  .S4,
  h1,
  .S4__parrafo,
  p,
  .S4__container .S4__picture,
  .S4__img4,
  .S5__container .S5__picture,
  .S5__img5,
  .S5__parrafo,
  .S6__container .S6__picture,
  .S6__img6,
  .S6__parrafo {
    font-size: 1em; } }

@media only screen and (max-width: 900px) {
  .navbar-brand {
    width: 10rem; }
  .navbar .nav-item a {
    font-size: 1.8em; }
  .S4,
  h1,
  .S4__parrafo,
  p,
  .S4__container .S4__picture,
  .S4__img4,
  .S5__container .S5__picture,
  .S5__img5,
  .S5__parrafo,
  .S6__container .S6__picture,
  .S6__img6,
  .S6__parrafo {
    font-size: 1em; } }

@media only screen and (max-width: 768px) {
  main {
    display: grid;
    min-height: 100vh;
    font-family: "Maven pro";
    color: #F8F4E3;
    grid-template-columns: 1fr;
    grid-template-rows: .1fr .1fr .1fr;
    grid-template-areas: "S1" "S2" "S3"; }
  .S4 {
    margin-top: 15vh;
    grid-area: S1;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "T" "IMG"; }
    .S4__parrafo {
      grid-area: T; }
    .S4__picture {
      grid-area: IMG; }
  .S5 {
    grid-area: S2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "T" "IMG"; }
    .S5__parrafo {
      grid-area: T; }
    .S5__picture {
      grid-area: IMG; }
  .S6 {
    grid-area: S3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "T" "IMG"; }
    .S6__parrafo {
      grid-area: T; }
    .S6__picture {
      grid-area: IMG; } }

.S13 {
  grid-area: S1;
  display: grid;
  margin-top: 30vh;
  gap: 2rem;
  padding: 0 2rem;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "T"; }
  .S13__parrafo {
    grid-area: T; }
    .S13__parrafo h2 {
      font-size: 2.5em;
      text-transform: uppercase;
      font-weight: bold;
      flex-basis: 50%; }
    .S13__parrafo p {
      font-size: 1.8em;
      line-height: 1.5;
      margin-top: 5vh; }

.S14 {
  grid-area: S2;
  display: grid;
  padding: 0 2rem;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "T"; }
  .S14 label {
    grid-area: T;
    font-size: .8em;
    font-weight: bold; }
  .S14 input {
    grid-area: T;
    padding: 1 1rem;
    font-size: .5em;
    font-weight: bold;
    background-color: #FFFFFF;
    border-color: #087E8B;
    color: #2B3D41;
    border: 2px solid #087E8B;
    border-style: ridge;
    margin-top: 2vh; }
  .S14 select {
    padding: 2rem;
    font-size: 1em;
    font-weight: bold;
    background-color: #2B3D41;
    color: #F8F4E3;
    border: 2px solid #F8F4E3;
    border-style: ridge;
    margin-top: 6vh; }
  .S14 button {
    padding: 1rem;
    font-size: 1em;
    font-weight: lighter;
    background-color: #2B3D41;
    color: #F8F4E3;
    border: 2px solid #F8F4E3;
    border-style: ridge;
    margin-top: 3vh; }
  .S14 button:hover {
    color: #087E8B;
    border-color: #087E8B; }

.S7 {
  grid-area: S1;
  display: grid;
  margin-top: 20vh;
  gap: 2rem;
  align-items: center;
  padding: 0 2rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "T  img"; }
  .S7__parrafo {
    grid-area: T;
    flex-basis: 50%; }
    .S7__parrafo h2 {
      font-size: 2.5em;
      text-transform: uppercase;
      font-weight: bold;
      flex-basis: 50%; }
    .S7__parrafo p {
      font-size: 1.8em;
      line-height: 1.5;
      margin-top: 10vh; }
  .S7__picture {
    grid-area: img;
    min-width: 320px;
    flex-basis: 50%; }
    .S7__picture img {
      max-width: 100%; }

.S8 {
  grid-area: S2;
  display: grid;
  margin-top: 15vh;
  gap: 2rem;
  align-items: center;
  padding: 0 2rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "IMG    T"; }
  .S8__parrafo {
    grid-area: T; }
  .S8 h3 {
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: bold;
    flex-basis: 50%; }
  .S8 p {
    font-size: 1.8em;
    line-height: 1.5;
    margin-top: 10vh;
    flex-basis: 50%; }
  .S8__picture {
    grid-area: IMG;
    flex-basis: 50%;
    min-width: 320px; }
    .S8__picture img {
      max-width: 100%; }

.S9 {
  grid-area: S3;
  display: grid;
  margin-top: 15vh;
  gap: 2rem;
  align-items: center;
  padding: 0 2rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "T    IMG"; }
  .S9__parrafo {
    grid-area: T; }
  .S9 h3 {
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: bold;
    flex-basis: 50%; }
  .S9 p {
    font-size: 1.8em;
    line-height: 1.5;
    margin-top: 10vh;
    flex-basis: 50%; }
  .S9__picture {
    grid-area: IMG;
    flex-basis: 50%;
    min-width: 320px; }
    .S9__picture img {
      max-width: 100%; }

@media only screen and (max-width: 1024px) {
  .navbar-brand {
    width: 10rem; }
  .navbar .nav-item a {
    font-size: 0.8em;
    width: 7rem;
    text-align: center; }
  .S7,
  h1,
  .S7__parrafo,
  p,
  .S7__container .S7__picture,
  .S7__img7,
  .S8__container .S8__picture,
  .S8__img8,
  .S8__parrafo,
  .S9__container .S9__picture,
  .S9__img9,
  .S9__parrafo {
    font-size: 1em; } }

@media only screen and (max-width: 900px) {
  .navbar-brand {
    width: 10rem; }
  .navbar .nav-item a {
    font-size: 1.8em; }
  .S7,
  h1,
  .S7__parrafo,
  p,
  .S7__container .S7__picture,
  .S7__img7,
  .S8__container .S8__picture,
  .S8__img8,
  .S8__parrafo,
  .S9__container .S9__picture,
  .S9__img9,
  .S9__parrafo {
    font-size: 1em; } }

@media only screen and (max-width: 768px) {
  main {
    display: grid;
    min-height: 100vh;
    font-family: "Maven pro";
    color: #F8F4E3;
    grid-template-columns: 1fr;
    grid-template-rows: .1fr .1fr .1fr;
    grid-template-areas: "S1" "S2" "S3"; }
  .S7 {
    margin-top: 15vh;
    grid-area: S1;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "T" "IMG"; }
    .S7__parrafo {
      grid-area: T; }
    .S7__picture {
      grid-area: IMG; }
  .S8 {
    grid-area: S2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "T" "IMG"; }
    .S8__parrafo {
      grid-area: T; }
    .S8__picture {
      grid-area: IMG; }
  .S9 {
    grid-area: S3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "T" "IMG"; }
    .S9__parrafo {
      grid-area: T; }
    .S9__picture {
      grid-area: IMG; } }

.S10 {
  grid-area: S1;
  display: grid;
  margin-top: 20vh;
  gap: 2rem;
  align-items: center;
  padding: 0 2rem;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "T"; }
  .S10__parrafo {
    grid-area: T;
    flex-basis: 50%; }
    .S10__parrafo h2 {
      font-size: 2.5em;
      text-transform: uppercase;
      font-weight: bold;
      flex-basis: 50%; }
    .S10__parrafo p {
      font-size: 1.8em;
      line-height: 1.5;
      margin-top: 10vh; }

@media only screen and (max-width: 1024px) {
  .navbar-brand {
    width: 10rem; }
  .navbar .nav-item a {
    font-size: 0.8em;
    width: 7rem;
    text-align: center; }
  .S10,
  h1,
  .S10__parrafo,
  p,
  .S10__container .S10__picture,
  .S10__img10 {
    font-size: 1em; } }

@media only screen and (max-width: 900px) {
  .navbar-brand {
    width: 10rem; }
  .navbar .nav-item a {
    font-size: 1.8em; }
  .S10,
  h1,
  .S10__parrafo,
  p,
  .S10__container {
    font-size: 1em; } }

@media only screen and (max-width: 768px) {
  .S10 main {
    display: grid;
    min-height: 100vh;
    font-family: "Maven pro";
    color: #F8F4E3;
    grid-template-columns: .1fr;
    grid-template-rows: .1fr;
    grid-template-areas: "S1"; }
  .S10 {
    margin-top: 15vh;
    grid-area: S1;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "T"; }
    .S10__parrafo {
      grid-area: T; }
    .S10__picture {
      grid-area: IMG; } }
