@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Maven+Pro:wght@400;500;600;700;800;900&display=swap");
/* MISCELANIOS */
/* GLOBALS */
html {
  font-size: 62.5%; }

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background: linear-gradient(to left, #087e8b, #1c717d, #24646f, #295861, #2b4c53, #29444c, #263c44, #24343c, #202d37, #1e2632, #1c1f2c, #1b1825);
  font-family: "Maven pro"; }

ul {
  list-style-type: none;
  padding-left: 0; }

a {
  text-decoration: none;
  color: #F8F4E3;
  display: inline-block; }

.carousel {
  grid-area: S2;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "T";
  display: grid;
  margin-top: 15vh;
  align-items: stretch;
  justify-content: left; }

.carousel-inner {
  grid-area: T;
  align-items: center;
  justify-content: left;
  align-content: stretch; }

.carousel-indicators {
  margin-top: 10vh;
  position: inherit; }

form {
  font-family: #2B3D41;
  font-size: 2rem;
  display: flex; }

/* RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.flex-row {
  display: flex; }

.flex-column {
  display: flex;
  flex-direction: column; }

.container {
  max-width: 1080px;
  margin: 0 auto; }

/*PARTIALS*/
/*header*/
header {
  background-color: linear-gradient(to left, #087e8b, #1c717d, #24646f, #295861, #2b4c53, #29444c, #263c44, #24343c, #202d37, #1e2632, #1c1f2c, #1b1825); }

button {
  writing-mode: horizontal-tb !important;
  font-style: normal;
  font-variant-ligatures: common-ligatures;
  font-variant-caps: normal;
  font-variant-numeric: diagonal-fractions;
  font-variant-east-asian: full-width;
  font-weight: bold;
  font-stretch: normal;
  font-size: medium;
  font-family: "Bebas Neue";
  text-rendering: auto;
  color: -internal-light-dark(red);
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: center;
  cursor: default; }

.navbar-toggler {
  padding: 0.55rem 0.75rem;
  font-size: 1.75rem;
  line-height: 1;
  background-color: #087E8B;
  border: 1px solid;
  border-radius: 0.25rem;
  transition: box-shadow .15s ease-in-out; }

.navbar ul.navbar-nav li {
  font-family: "Bebas Neue"; }
  .navbar ul.navbar-nav li .nav-link {
    color: #F8F4E3 !important;
    font-size: 1.8em !important; }

footer {
  height: 10vh;
  align-items: center;
  justify-content: center;
  background-color: linear-gradient(to left, #087e8b, #1c717d, #24646f, #295861, #2b4c53, #29444c, #263c44, #24343c, #202d37, #1e2632, #1c1f2c, #1b1825);
  color: #FFFFFF;
  margin-top: 30vh;
  text-decoration-color: aliceblue; }

/*VIEWS*/
section :first-of-type {
  padding-top: 1vh; }

main {
  display: grid;
  min-height: 100vh;
  font-family: "Maven pro";
  color: #F8F4E3;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: .6fr .6fr .6fr;
  grid-template-areas: "S1   S1" "S2   S2" "S3   S3"; }

.S1 {
  margin-top: 30vh;
  grid-area: S1;
  display: grid;
  gap: 2rem;
  align-items: center;
  padding: 0 2rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "T    IMG"; }
  .S1__parrafo {
    grid-area: T; }
  .S1 h1 {
    font-size: 6.5em;
    text-transform: uppercase;
    font-weight: bold;
    flex-basis: 50%;
    font-size: 2em; }
  .S1 p {
    line-height: 1.5;
    font-style: inherit;
    margin-top: 10vh;
    flex-basis: 50%;
    font-size: 2em; }
  .S1__picture {
    grid-area: IMG;
    flex-basis: 50%;
    min-width: 320px; }
  .S1__img1 {
    width: 100%; }

.S2 {
  grid-area: S2;
  display: grid;
  margin-top: 5vh;
  gap: 2rem;
  align-items: center;
  padding: 0 2rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "IMG    T"; }

.S2__parrafo {
  grid-area: T; }

.S2__parrafo h2 {
  font-size: 6.5em;
  text-transform: uppercase;
  font-weight: bold;
  flex-basis: 50%;
  font-size: 2em; }

.S2__parrafo p {
  font-size: 4.5em;
  line-height: 1.5;
  margin-top: 10vh;
  flex-basis: 50%;
  font-size: 2em; }

.S2__picture {
  grid-area: IMG;
  flex-basis: 50%;
  min-width: 320px; }

.S3 {
  grid-area: S3;
  display: grid;
  margin-top: 5vh;
  gap: 2rem;
  align-items: center;
  padding: 0 2rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "T    IMG"; }

.S3__parrafo {
  grid-area: T; }

.S3__parrafo h2 {
  font-size: 6.5em;
  text-transform: uppercase;
  font-weight: bold;
  flex-basis: 50%;
  font-size: 2em; }

.S3__parrafo p {
  font-size: 4.5em;
  line-height: 1.5;
  margin-top: 10vh;
  flex-basis: 50%;
  font-size: 2em; }

.S3__picture {
  grid-area: IMG;
  flex-basis: 50%;
  min-width: 320px; }

.S2__img2 {
  width: 100%; }

.S3__img3 {
  width: 100%; }

@media screen and (max-width: 768px) {
  header {
    padding: 2em; }
  header .navbar {
    justify-content: center;
    flex-direction: column; }
  header .menu {
    font-size: .8em; } }

@media screen and (max-width: 768px) {
  .presentation {
    flex-wrap: wrap; }
  .presentation__picture {
    flex-grow: 1; }
  .presentation__description {
    flex-grow: 1;
    order: -1; } }

.S4 {
  grid-area: S1;
  display: grid;
  margin-top: 30vh;
  gap: 2rem;
  align-items: center;
  padding: 0 2rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "T  img"; }

.S4__parrafo {
  grid-area: T;
  flex-basis: 50%; }

.S4__parrafo h2 {
  font-size: 6.5em;
  text-transform: uppercase;
  font-weight: bold;
  flex-basis: 50%;
  font-size: 2em; }

.S4__parrafo p {
  font-size: 2em;
  line-height: 1.5;
  margin-top: 10vh; }

.S4__picture {
  grid-area: img;
  align-items: center;
  min-width: 320px;
  flex-basis: 50%; }

.S5 {
  grid-area: S2;
  display: grid;
  margin-top: 5vh;
  gap: 2rem;
  align-items: center;
  padding: 0 2rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "img t"; }

.S5__parrafo {
  grid-area: t; }

.S5__parrafo h2 {
  font-size: 6.5em;
  text-transform: uppercase;
  font-weight: bold;
  flex-basis: 50%;
  font-size: 2em; }

.S5__parrafo p {
  font-size: 4.5em;
  line-height: 1.5;
  margin-top: 10vh;
  flex-basis: 50%;
  font-size: 2em; }

.S5__picture {
  grid-area: img;
  flex-basis: 50%;
  min-width: 320px; }

.S6 {
  grid-area: S3;
  display: grid;
  margin-top: 5vh;
  gap: 2rem;
  align-items: center;
  padding: 0 2rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "t img"; }

.S6__parrafo {
  grid-area: t; }

.S6__parrafo h2 {
  font-size: 6.5em;
  text-transform: uppercase;
  font-weight: bold;
  flex-basis: 50%;
  font-size: 2em; }

.S6__parrafo p {
  font-size: 4.5em;
  line-height: 1.5;
  margin-top: 10vh;
  flex-basis: 50%;
  font-size: 2em; }

.S6__picture {
  grid-area: img;
  flex-basis: 50%;
  min-width: 320px; }

.S4__img4 {
  width: 100%; }

.S5__img5 {
  width: 100%; }

.S6__img6 {
  width: 100%; }

.S13 {
  grid-area: S1;
  display: grid;
  margin-top: 30vh;
  gap: 2rem;
  padding: 0 2rem;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "T"; }

.S13__parrafo {
  grid-area: T; }

.S13__parrafo h2 {
  font-size: 6.5em;
  text-transform: uppercase;
  font-weight: bold;
  flex-basis: 50%;
  font-size: 2em; }

.S13__parrafo p {
  font-size: 4.5em;
  line-height: 1.5;
  margin-top: 5vh;
  font-size: 2em; }

.S14 {
  grid-area: S2;
  display: grid;
  margin-top: 5vh;
  gap: 2rem;
  padding: 0 2rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "T P"; }

.S14__form label {
  grid-area: T;
  padding: 1rem;
  font-size: 2em;
  font-weight: bold;
  background-color: #2B3D41;
  border-color: #087E8B;
  color: #F8F4E3;
  border: 2px solid #087E8B;
  border-style: ridge;
  margin-top: 1vh; }

.S14__form input {
  grid-area: P;
  padding: 1rem;
  font-size: 2em;
  font-weight: bold;
  background-color: #FFFFFF;
  border-color: #087E8B;
  color: #F8F4E3;
  border: 2px solid #087E8B;
  border-style: ridge;
  margin-top: 6vh; }

.S14__form select {
  padding: 1rem;
  font-size: 2em;
  font-weight: bold;
  background-color: #2B3D41;
  border-color: #087E8B;
  color: #F8F4E3;
  border: 2px solid #087E8B;
  border-style: ridge;
  margin-top: 6vh; }

.S7 {
  grid-area: S1;
  display: grid;
  margin-top: 30vh;
  gap: 2rem;
  align-items: center;
  padding: 0 2rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "T  img"; }

.S7__parrafo {
  grid-area: T;
  flex-basis: 50%; }

.S7__parrafo h2 {
  font-size: 6.5em;
  text-transform: uppercase;
  font-weight: bold;
  flex-basis: 50%;
  font-size: 2em; }

.S7__parrafo p {
  font-size: 4.5em;
  line-height: 1.5;
  margin-top: 10vh;
  font-size: 2em; }

.S7__picture {
  grid-area: img;
  flex-basis: 50%;
  min-width: 320px; }

.S8 {
  grid-area: S2;
  display: grid;
  margin-top: 5vh;
  gap: 2rem;
  align-items: center;
  padding: 0 2rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "img  T"; }

.S8__parrafo {
  grid-area: T;
  flex-basis: 50%; }

.S8__parrafo h2 {
  font-size: 6.5em;
  text-transform: uppercase;
  font-weight: bold;
  flex-basis: 50%;
  font-size: 2em; }

.S8__parrafo p {
  font-size: 4.5em;
  line-height: 1.5;
  margin-top: 10vh;
  font-size: 2em; }

.S8__picture {
  grid-area: img;
  flex-basis: 50%;
  min-width: 320px; }

.S9 {
  grid-area: S3;
  display: grid;
  margin-top: 5vh;
  gap: 2rem;
  align-items: center;
  padding: 0 2rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "T  img"; }

.S9__parrafo {
  grid-area: T;
  flex-basis: 50%; }

.S9__parrafo h2 {
  font-size: 6.5em;
  text-transform: uppercase;
  font-weight: bold;
  flex-basis: 50%;
  font-size: 2em; }

.S9__parrafo p {
  font-size: 4.5em;
  line-height: 1.5;
  margin-top: 10vh;
  font-size: 2em; }

.S9__picture {
  grid-area: img;
  flex-basis: 50%;
  min-width: 320px; }

.S7__img7 {
  width: 100%; }

.S8__img8 {
  width: 100%; }

.S9__img9 {
  width: 100%; }

.S10 {
  grid-area: S1;
  display: grid;
  margin-top: 30vh;
  gap: 2rem;
  padding: 0 2rem;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "T"; }

.S10__parrafo {
  grid-area: T; }

.S10__parrafo h2 {
  font-size: 6.5em;
  text-transform: uppercase;
  font-weight: bold;
  flex-basis: 50%;
  font-size: 2em; }

.S10__parrafo p {
  font-size: 4.5em;
  line-height: 1.5;
  margin-top: 5vh;
  font-size: 2em; }

.S11 {
  grid-area: S2;
  display: grid;
  align-items: center;
  padding: 2rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-top: 5vh;
  justify-content: space-between;
  align-content: center; }

.S12 {
  grid-area: S3;
  display: grid;
  align-items: center;
  padding: 2rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-top: 5vh;
  justify-content: center;
  align-content: center; }

.S11__img10 {
  width: 100%; }

.S11__im11 {
  width: 100%; }

.S11__img12 {
  width: 100%; }
