footer {
    margin-top: 30vh;
}

svg {
    width: 25px;
    color: map-get($colores, terciario)
}

span {
    flex-basis: 100%;
    font-family: $font-primary;
    font-size: 1em;
    color: map-get($colores, terciario)
}