/*header*/

header {
    background-color: $grad-bg;
}
button {
    writing-mode: horizontal-tb !important;
    font-style:normal ;
    font-variant-ligatures:common-ligatures ;
    font-variant-caps:normal ;
    font-variant-numeric:diagonal-fractions ;
    font-variant-east-asian:full-width ;
    font-weight:bold ;
    font-stretch:normal;
    font-size:medium ;
    font-family: $font_secundary ;
    text-rendering: auto;
    color: -internal-light-dark(red);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: center;
    cursor: default;
}

.navbar-toggler {
    padding: 0.55rem 0.75rem;
    font-size: 1.75rem;
    line-height: 1;
    background-color: $cuaternario;
    border: 1px solid;
    border-radius: 0.25rem;
    transition: box-shadow .15s ease-in-out;
}
.navbar ul.navbar-nav li {
    font-family: $font_secundary;

    .nav-link {
        color: $terciario !important;
        font-size: 1.8em !important;
 
    }
}