.S10 {
    grid-area: S1;
    display: grid;
    margin-top: 20vh;
    gap: 2rem;
    align-items: center;
    padding: 0 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "T";

    &__parrafo {
        grid-area: T;
        flex-basis: 50%;

        h2 {
            font-size: 2.5em;
            text-transform: uppercase;
            font-weight: bold;
            flex-basis: 50%;
        }

        p {
            font-size: 1.8em;
            line-height: 1.5;
            margin-top: 10vh;
        }
    }
}

@media only screen and (max-width: 1024px) {
    .navbar-brand {
        width: 10rem;
    }

    .navbar .nav-item a {
        font-size: 0.8em;
        width: 7rem;
        text-align: center;
    }

    .S10,
    h1,
    .S10__parrafo,
    p,
    .S10__container .S10__picture,
    .S10__img10 {
        font-size: 1em;
    }
}

@media only screen and (max-width: 900px) {
    .navbar-brand {
        width: 10rem;
    }

    .navbar .nav-item a {
        font-size: 1.8em;
    }

    .S10,
    h1,
    .S10__parrafo,
    p,
    .S10__container {
        font-size: 1em;
    }
}

@media only screen and (max-width: 768px) {
    .S10 main {
        display: grid;
        min-height: 100vh;
        font-family: $font-primary;
        color: map-get($colores, terciario);
        grid-template-columns: .1fr;
        grid-template-rows: .1fr;
        grid-template-areas:
            "S1";
    }

    .S10 {
        margin-top: 15vh;
        grid-area: S1;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "T";

        &__parrafo {
            grid-area: T;
        }

        &__picture {
            grid-area: IMG;
        }
    }
}