.S13 {
    grid-area: S1;
    display: grid;
    margin-top: 30vh;
    gap: 2rem;
    padding: 0 2rem;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "T";

    &__parrafo {
        grid-area: T;

        h2 {
            font-size: 2.5em;
            text-transform: uppercase;
            font-weight: bold;
            flex-basis: 50%;
        }

        p {
            font-size: 1.8em;
            line-height: 1.5;
            margin-top: 5vh;
        }
    }
}

.S14 {
    grid-area: S2;
    display: grid;
    padding: 0 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "T";

    label {
        grid-area: T;
        font-size: .8em;
        font-weight: bold;
    }

    input {
        grid-area: T;
        padding: 1 1rem;
        font-size: .5em;
        font-weight: bold;
        background-color: map-get($colores, principal);
        border-color: #087E8B;
        color: map-get($colores, secundaria);
        border: 2px solid map-get($colores, cuaternario);
        border-style: ridge;
        margin-top: 2vh;
    }

    select {
        padding: 2rem;
        font-size: 1em;
        font-weight: bold;
        background-color: map-get($colores, secundaria);
        color: map-get($colores, terciario);
        border: 2px solid map-get($colores, terciario);
        border-style: ridge;
        margin-top: 6vh;
    }

    button {
        padding: 1rem;
        font-size: 1em;
        font-weight: lighter;
        background-color: map-get($colores, secundaria);
        color: map-get($colores, terciario);
        border: 2px solid map-get($colores, terciario);
        border-style: ridge;
        margin-top: 3vh;
    }
}