.S1 {
    margin-top: 20vh;
    grid-area: S1;
    display: grid;
    gap: 2rem;
    align-items: center;
    padding: 0 2rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "T    IMG";

    &__parrafo {
        grid-area: T;
    }

    h1 {
        font-size: 2.5em;
        text-transform: uppercase;
        font-weight: bold;
        flex-basis: 50%;
    }

    p {
        line-height: 1.5;
        font-style: inherit;
        margin-top: 10vh;
        flex-basis: 50%;
        font-size: 1.8em;
    }

    nav a {
        border-style: groove;
        border-color: map-get($colores, terciario);
        padding: 0.8em;
        color: map-get($colores, terciario);
        font-family: $font_secundary;
        margin-top: 5vh;
        font-size: 2.5em;
    }
    nav a:hover {
        color: map-get($colores , cuaternario );
        border-color: map-get($colores , cuaternario );
    }

    &__picture {
        grid-area: IMG;
        flex-basis: 50%;
        min-width: 320px;

        img {
            @include tamaño-img ();
        }
    }
}

.S2 {
    grid-area: S2;
    display: grid;
    margin-top: 15vh;
    gap: 2rem;
    align-items: center;
    padding: 0 2rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "IMG    T";

    &__parrafo {
        grid-area: T;
    }

    h2 {
        font-size: 2.5em;
        text-transform: uppercase;
        font-weight: bold;
        flex-basis: 50%;
    }

    p {
        font-size: 1.8em;
        line-height: 1.5;
        margin-top: 10vh;
        flex-basis: 50%;
    }

    &__picture {
        grid-area: IMG;
        flex-basis: 50%;
        min-width: 320px;

        img {
            @include tamaño-img ();
        }
    }
}

.S3 {
    grid-area: S3;
    display: grid;
    margin-top: 15vh;
    gap: 2rem;
    align-items: center;
    padding: 0 2rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "T    IMG";

    &__parrafo {
        grid-area: T;
    }

    h2 {
        font-size: 2.5em;
        text-transform: uppercase;
        font-weight: bold;
        flex-basis: 50%;
    }

    p {
        font-size: 1.8em;
        line-height: 1.5;
        margin-top: 10vh;
        flex-basis: 50%;
    }

    &__picture {
        grid-area: IMG;
        flex-basis: 50%;
        min-width: 320px;

        img {
            @include tamaño-img ();
        }
    }
}

@media only screen and (max-width: 1024px) {
    .navbar-brand {
        width: 10rem;
    }

    .navbar .nav-item a {
        font-size: 0.8em;
        width: 7rem;
        text-align: center;
    }

    .S1,
    h1,
    .S1__parrafo,
    p,
    .S1__container .S1__picture,
    .S1__img1,
    .S2__container .S2__picture,
    .S2__img2,
    .S2__parrafo,
    .S3__container .S3__picture,
    .S3__img3,
    .S3__parrafo {
        font-size: 1em;
    }
}

@media only screen and (max-width: 900px) {
    .navbar-brand {
        width: 10rem;
    }

    .navbar .nav-item a {
        font-size: 1.8em;
    }

    .S1,
    h1,
    .S1__parrafo,
    p,
    .S1__container .S1__picture,
    .S1__img1,
    .S2__container .S2__picture,
    .S2__img2,
    .S2__parrafo,
    .S3__container .S3__picture,
    .S3__img3,
    .S3__parrafo {
        font-size: 1em;
    }
}

@media only screen and (max-width: 768px) {
    main {
        display: grid;
        min-height: 100vh;
        font-family: $font-primary;
        color: map-get($colores, terciario);
        grid-template-columns: 1fr;
        grid-template-rows: .1fr .1fr .1fr;
        grid-template-areas:
            "S1"
            "S2"
            "S3"
    }

    .S1 {
        margin-top: 15vh;
        grid-area: S1;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "T"
            "IMG";

        &__parrafo {
            grid-area: T;
        }

        &__picture {
            grid-area: IMG;
        }
    }

    .S2 {
        grid-area: S2;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "T"
            "IMG";

        &__parrafo {
            grid-area: T;
        }

        &__picture {
            grid-area: IMG;
        }
    }

    .S3 {
        grid-area: S3;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "T"
            "IMG";

        &__parrafo {
            grid-area: T;
        }

        &__picture {
            grid-area: IMG;
        }
    }
}