$grad-bg: linear-gradient(to left, #087e8b, #1c717d, #24646f, #295861, #2b4c53, #29444c, #263c44, #24343c, #202d37, #1e2632, #1c1f2c, #1b1825);
$font-primary: "Maven pro";
$font_secundary: "Bebas Neue";
$text_lg: 2em;
$text_md: 1.8em;

$colores:(
    principal: #FFFFFF,
    secundaria: #2B3D41,
    terciario: #F8F4E3,
    cuaternario: #087E8B,
);